body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    background-color: #f7f5f5;
    margin: 0 auto;
}

.section1 {
    display: flex;
    gap: 30px;
    margin-left: 5rem;
}

.nav-link {
    color: #AE1332;
    text-decoration: none;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
}

.section2 {
    display: flex;
    align-items: center;
}

.logo-text {
    color: #AE1332;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    margin-left: 10px; /* Adjust as needed */
}

.section3 img {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    margin-right: 2rem;
}



/* Add media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .section1 {
        display: none; /* Hide Section 1 on small screens */
    }

    .section2 {
        display: auto; /* Move Section 2 to the left */
        margin-left: 3rem;
    }

    .section3 img {
        content: url('/images/hamburger_menu.png'); /* Change image source to hamburger icon */
    }
}

/* HERO SECTION */
.hero-section {
    background-color: #AE1332;
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.tagline-container {
    position: relative;
    width: 898px;
    height: 16rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2rem;
}

.tagline {
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 1; 
}

.tagline p {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-family: 'DM Sans', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: .56px;
    text-transform: uppercase;
    position: relative;
    z-index: 1; /* Ensure the text is above the images */
}

.banana, .strawberry {
    position: absolute;
}

.banana {
    width: 133.21px;
    height: 100.613px;
    transform: rotate(20deg);
    flex-shrink: 0;
    background: url(''), rgba(174, 19, 50, 0) 50%/ cover no-repeat; /* Use rgba color with alpha set to 0 for transparency */
    filter: blur(1.5px);
    bottom: -10px;
    left: 16px;
}

.strawberry {
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    background: url(''), rgba(174, 19, 50, 0) 50%/ cover no-repeat; /* Use rgba color with alpha set to 0 for transparency */
    filter: blur(1.5px);
    top: 30px;
    right: -10px;
}

.center_orangegirl {
    position: absolute;
    z-index: 0; /* Place it behind the .tagline-container */
    margin-top: -100px;
}

.orange_girl {
    position: relative;
    height: 1000px;
    width: 650px;
    flex-shrink: 0;
    transform: scale(.55);
    border-radius: 500px;
}

.shop_now {
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%) rotate(-14deg);
    background-color: white;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop_now p {
    width: 5.25rem;
    transform: rotate(-14deg);
    color: #AE1332;
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 100% */
    letter-spacing: -0.07rem;
    text-transform: uppercase;
}

.curated_fruit {
    width: 13.875rem;
    color: #FFF;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-family: DM Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 128.571% */
    letter-spacing: -0.035rem;
    position: absolute;
    top: 400px;
    left: 100px;
}

.green_box {
    position: absolute;
    top: 600px;
    left: 100px;
    width: 15.5625rem;
    height: 24.1875rem;
    flex-shrink: 0;
    border-radius: 31.25rem;
    background: rgba(164, 203, 102, 1);
    
}

.title_1 {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-family: DM Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.875rem; /* 116.667% */
    letter-spacing: -0.03rem;
    padding-top: 1rem;
}

.hero_watermelon {
    width: 12.5rem;
    height: 10.75rem;
    flex-shrink: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shadow_oval {
    width: 14.9375rem;
    height: 2.375rem;
    flex-shrink: 0;
    fill: #000;
    opacity: 0.1;
    filter: blur(13.591408729553223px);
    position: absolute;
    top: calc(45% + 10.75rem); /* Adjust the distance from the bottom of the image */
    left: 50%;
    transform: translateX(-50%);
}

.title_1_p {
    width: 9.6875rem;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-family: DM Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.875rem; /* 116.667% */
    letter-spacing: -0.03rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 30px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
}